In [4]:
import pandas as pd

series1 = pd.Series([80,70,60,90],index=['chinese','english','math','history'])
series1

chinese    80
english    70
math       60
history    90
dtype: int64

In [6]:
# 取出ndArray

series1.values

array([80, 70, 60, 90])

In [7]:
# 取出索引(index)
series1.index

Index(['chinese', 'english', 'math', 'history'], dtype='object')

In [8]:
series2 = series1 + 3
series2

chinese    83
english    73
math       63
history    93
dtype: int64

In [9]:
series2
series2['chinese']
#series2[0]

83

In [10]:
data = {
        '縣市': ['台北','台北','台北','新竹','新竹','新竹'],
        '年份': [2000,2001,2002,2001,2002,2003],
        '人口': [2.2,2.5,3.7,1.1,0.9,6.3]
}
df1 = pd.DataFrame(data)
df1

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  3.7
3  新竹  2001  1.1
4  新竹  2002  0.9
5  新竹  2003  6.3

In [11]:
df1['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [12]:
df1['年份']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

In [13]:
df1['人口']

0    2.2
1    2.5
2    3.7
3    1.1
4    0.9
5    6.3
Name: 人口, dtype: float64

In [14]:
data1 = [
    {'name':'徐國堂','height':190,'weight':89},
    {'name':'白先勇','height':165,'weight':73},
    {'name':'余光中','height':169,'weight':80},
]
df2 = pd.DataFrame(data1)
df2

  name  height  weight
0  徐國堂     190      89
1  白先勇     165      73
2  余光中     169      80